/* Navbar */

.navbar {
    padding-bottom: 1px;
    border-bottom: solid 1px #e8e8e8;
    background-color: white;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
      0 6px 16px -11px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 99990;
  }
  
  .nav-header {
    background-color: white;
    border-bottom: 0;
    padding: 0 4px 0 24px;
  }
  
  .logo {
    width: 200px;
    float: left;
  }
  
  .logo a {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .navbar-menu {
    width: calc(100% - 200px);
    float: left;
  }
  .navbar-menu .ant-layout-header {
    padding: 0 20px;
  }
  
  .navbar-menu .ant-menu-horizontal {
    border-bottom: 0;
  }
  
  .navbar-menu .ant-menu-item {
    padding-bottom: 0px;
  }
  
  .navbar-menu .leftMenu {
    float: left;
  }
  
  .navbar-menu .rightMenu {
    float: right;
  }
  
  .menuButton {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 14px;
    display: none;
    background: none;
    margin-right: 10px;
  }
  
  .ant-drawer-body {
    padding: 0;
  }
  
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
  }
  
  .ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
  }
  
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
  }
  
  .username {
    display: none;
    margin-left: 8px;
  }
  
  @media (max-width: 767px) {
    .menuButton {
      display: block;
      margin-right: 10px;
    }
  
    .leftMenu,
    .rightMenu {
      display: none;
    }
  
    .logo a {
      margin-left: -10px;
    }
  
    .ant-drawer-title > .brand-font {
      margin-bottom: 0;
    }
  
    .username {
      display: inline-block;
    }
  }
  
  /* Navbar End */

  /* custom css */

  #rightMenu{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

/* modal css */



body{
  font-family: 'Noto Sans', sans-serif;
}
.main{
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 60% 40% ;
  height:700px;
}
.main-form{
  margin-left:1rem;
  height:100%;
  width:100;
}
.main-body{
  /* background-image: url('https://images.pexels.com/photos/955081/pexels-photo-955081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=700&w=540'); */
  background-repeat: no-repeat;
  height:700px;
  width:100%;
}
.main-body ::after{
  background: rgba(0,0,0,0.2);
}
input{
  border:none;
  border-bottom: 0.1rem solid #e6e6e6;
  width: 90%;
  margin-bottom:1rem;
  font-size: 1.2rem;
  padding: 0.7rem 0 ;
  outline:none;
}
label{
  color:grey;
  font-size:1.1rem;

}
::placeholder{
  color:#cccccc;
  font-size:1rem;
  font-family: 'Noto Sans', sans-serif;
}
textarea{
  border:none;
  border-bottom: 0.1rem solid #e6e6e6;
  width: 90%;
  margin-top:1.5rem;
  margin-bottom:1rem;
  font-size: 1.4rem;
  resize:none;
  outline:none;
  font-family: 'Noto Sans', sans-serif;
}
#submit{
  height:3.2rem;
  width:14rem;
  font-size:1.2rem;
  border-radius:2rem;
  background:linear-gradient(to right,#cc3399,#ff5050);
  margin-left:25%;
  color:white;
  margin-top:1.2rem;
}

.form-element{
  margin-top:0.5rem;
}
.contact{
  color:white;
  background:#00cc00;
  width:14rem;
  padding-left: 1rem;
  border-radius:2rem;
  margin-left:33%;
  margin-top:25%;
  border:none;
  outline:none;
  font-size:1.5em;
}
@media only screen and (max-width: 700px) {
  .main{
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 100%;
  height:700px;
  }
  /* .main-body{
  background-image: url('https://images.pexels.com/photos/955081/pexels-photo-955081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=400');
  background-repeat: no-repeat;
  height:400px;
  } */
  .contact{
  color:white;
  background:#00cc00;
  width:14rem;
  padding-left: 1rem;
  border-radius:2rem;
  margin-left:8rem;
  margin-top:10rem;
  border:none;
  outline:none;
  font-size:1.4rem;
}
}

#formSubmit{
  width: 20vw;
}

@media (max-width:450px){
  #formSubmit{
    width: 100%;
  }
}

#contactmodal{
  border: 5px solid black;
  top:0vh;
  width: 70vw;
  z-index: 1000;
}